.page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
p {
    text-align: center;
    width: 90%;
    font-size: x-large;
    font-family: monospace;
    font-weight: bolder;
}
button {
    border: none;
    width: 67px;
    height: 30px;
    border-radius: 15px;
    cursor: pointer;
}